* {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

.header-line {
  background-color: black; }

.wrapper {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 37.5rem;
  margin-left: 37.5rem; }

.wrapperlanguage {
  display: flex;
  align-items: center; }

.img-language {
  padding-left: 1.5rem; }

.sign-in {
  font-size: 1.2rem;
  padding-right: 1.5rem;
  border-right: 1px solid #545454;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #8c8c8c; }

.links-list ul {
  display: flex;
  list-style-type: none; }

.links-list ul li {
  margin-right: 1.4rem; }

.links-list ul li a {
  font-size: 1.6rem;
  color: #707070; }
  .links-list ul li a:hover {
    transition: all 500ms;
    text-shadow: 1px 1px 1px white, 0 0 1em white; }

.tripple-dots {
  cursor: pointer;
  margin-right: 2rem; }

.header-logo {
  margin-top: 2rem;
  letter-spacing: 2px; }

.bg2 {
  background: url("../img/Layer-66.jpg") no-repeat center top;
  background-size: cover; }

.bg-black {
  background: rgba(21, 21, 21, 0.87); }

.slider-arrows a {
  color: #fff; }

.right-arrow {
  margin-right: 2.5rem;
  margin-top: 18.9%;
  float: right; }

.right-arrow a {
  font-size: 4.2rem; }

.left-arrow a {
  font-size: 4.2rem; }

.left-arrow {
  margin-left: 33px;
  margin-top: 18.9%;
  float: left; }

.bg {
  margin-right: 37.5rem;
  margin-left: 37.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logo-text {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff; }

.header-menu {
  margin-left: 10.6rem;
  margin-top: 2rem; }

.header-menu ul {
  list-style-type: none;
  display: flex; }

.header-menu ul li {
  font-size: 1.4rem;
  margin-right: 3rem; }

.fa-angle-down {
  margin-left: 1rem; }

.header-menu ul li a {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  padding-bottom: 2.5rem; }

.header-menu ul li a:hover {
  border-bottom: 3px solid #ff4081; }

.header-functions {
  margin-top: 2.7rem; }

.header-functions a {
  display: inline-block;
  width: 20px;
  padding: 10px;
  font-size: 18px;
  color: #fff; }

.header-functions a:nth-child(1) {
  border-right: 1px solid #5c5c5b; }

.header-functions a:nth-child(2) {
  border-right: 1px solid #5c5c5b; }

.main-content1 {
  margin-top: 23.5rem;
  text-align: center; }

.uptitle {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #bdbdbd;
  font-size: 2rem; }

.main-content1__title {
  word-spacing: 5px;
  letter-spacing: 1px;
  color: #fff;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 4.2rem;
  text-transform: uppercase; }

.main-content1__button {
  outline: none;
  word-spacing: 3px;
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-top: 3rem;
  text-transform: uppercase;
  width: 170px;
  height: 45px;
  border-radius: 3rem;
  border: none;
  background-color: #303f9f;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer; }
  .main-content1__button:active {
    box-shadow: 0 0 0 1px white;
    transform: translateY(4px); }

.mini-card {
  margin-top: 8rem; }

.mini-card__title__name {
  letter-spacing: 1px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 1rem;
  font-size: 1.4rem; }

.date {
  color: #9c9c9c;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  display: block;
  margin-top: 10px;
  font-weight: 500; }

.mini-card__functions {
  padding-bottom: 70px;
  margin-left: 30px;
  margin-top: 2.8rem; }

.mini-card__functions a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  margin-right: 3rem;
  text-decoration: none;
  color: #bdbdbd;
  font-weight: 500; }

.sort {
  border-bottom: 1px solid #dddddd; }

.white-line__wrapper {
  display: flex;
  align-items: center;
  height: 60px;
  margin-right: 37.5rem;
  margin-left: 37.5rem; }

.white-line__wrapper span {
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  margin-right: 2rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #000;
  font-weight: 700; }

.white-line__wrapper button {
  margin-right: 15px;
  font-family: 'Montserrat', sans-serif; }

.white-line__wrapper button:hover {
  background-color: #fff;
  border: 1px solid #5060bb;
  color: #5060bb;
  cursor: pointer; }

.small-button {
  border-radius: 15px;
  border: none;
  width: 80px;
  height: 30px;
  background-color: #f5f5f5;
  text-transform: uppercase; }

.big-button {
  border-radius: 15px;
  border: none;
  text-transform: uppercase;
  background-color: #f5f5f5;
  width: 150px;
  height: 30px; }

.medium-button {
  border: none;
  border-radius: 1.5rem;
  text-transform: uppercase;
  background-color: #f5f5f5;
  width: 120px;
  height: 30px; }

.global-main-container {
  display: flex;
  background-color: #f5f5f5; }

.main-post__container {
  width: 820px;
  margin-left: 37.5rem; }

.image-block {
  margin-top: 3rem; }

.play-one {
  bottom: 23.5rem;
  display: flex;
  justify-content: center;
  position: relative; }

.img-play {
  position: absolute; }

.post__signatures__container {
  margin-bottom: -6.3rem;
  position: relative;
  bottom: 6rem;
  display: flex;
  justify-content: space-between; }

.name-post {
  margin: 2rem; }

.name-post span {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #fff; }

.wrapper__comment__block {
  margin: 2rem;
  display: flex; }

.comment {
  display: flex;
  margin-right: 1.5rem; }

.comment span {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  color: #fff; }

.like {
  display: flex;
  align-items: center; }

.like span {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  color: #fff; }

.like img {
  margin-left: 5px; }

.description-block {
  background-color: #fff; }

.title__description-block {
  word-spacing: 3px;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin-left: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.8rem; }

.text____description-block {
  margin-left: 2rem;
  margin-right: 4rem;
  padding-bottom: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem; }

.separating-line {
  height: 1px;
  background-color: #e0e0e0; }

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.user-name-block {
  margin-top: 2rem;
  margin-left: 2rem;
  padding-bottom: 2rem;
  align-items: center;
  display: flex; }

.name-date {
  margin-left: 1rem; }

.name-user {
  letter-spacing: 0.5px;
  display: inline-block;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 5px; }

.date-user {
  font-family: 'Montserrat', sans-serif;
  color: #878787;
  font-size: 1.2rem;
  font-weight: 500; }

.horizontal__post {
  margin-top: 2rem; }

.wrapper__horizontal__post {
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  height: 165px; }

.wrapper__icon__play {
  position: relative;
  bottom: 11rem;
  display: flex;
  justify-content: center; }

.play-img {
  position: absolute; }

.horizontal__post__signatures__container {
  top: -3.5rem;
  position: relative;
  display: flex;
  justify-content: space-between; }

.comment__flex__container {
  display: flex; }

.ike__small-post1 {
  display: flex; }

.name-post__horizontal__post {
  margin-left: 2rem; }
  .name-post__horizontal__post span {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    color: #fff; }

.number-comment {
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-right: 2rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif; }

.number-like {
  font-size: 1.2rem;
  margin-right: 2rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif; }

.flex__container___numbers {
  display: flex;
  align-items: center; }

.horizontal__post__title__name {
  margin-top: 1rem;
  margin-left: 1.5rem;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; }

.horizontal__post__text {
  margin: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  color: #595959;
  font-weight: 500; }

.flex-container__horizontal__post {
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.user-name-block__horizontal__post {
  align-items: center;
  display: flex; }

.user-name-img__horizontal__post img {
  margin-left: 1rem; }

.name-date__horizontal__post {
  margin-left: 1rem; }

.name-user__horizontal__post {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem; }

.date-user__horizontal__post {
  margin-top: 5px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #878787;
  font-size: 1.2rem; }

.vertical-post {
  display: flex; }

.wrapper__vertical-post {
  margin-right: 2rem;
  background-color: #fff;
  margin-top: 2rem;
  height: 460px;
  width: 260px; }

.white-square {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: red; }

.white-square2 {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: red; }

.title__vertical-post {
  font-family: 'Montserrat', sans-serif;
  margin-left: 1.7rem;
  font-weight: 700;
  font-size: 1.4rem; }

.color-blue {
  color: #4b5cba; }

.title__medium__vertical__post {
  font-family: 'Montserrat', sans-serif;
  margin-left: 1.5rem;
  font-weight: 700;
  font-size: 1.8rem; }

.margin-top {
  margin-top: 2rem; }

.wrapper__medium__vertical__post {
  margin-right: 2rem;
  background-color: #fff;
  margin-top: 20px;
  height: 540px;
  width: 400px; }

.button-more {
  margin-top: 4.3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 4.3rem; }

.button-more span {
  color: #3c4aa4;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 600; }

.button-arrow {
  cursor: pointer;
  outline: none;
  margin-left: 1rem;
  color: #3c4aa4;
  border: 1px solid #f5f5f5;
  background-color: #fff;
  border-radius: 2rem;
  width: 40px;
  height: 40px; }

.photo-line {
  display: flex; }

.name-user__small-post1 {
  display: inline-block;
  margin-bottom: 5px; }

.container-vertical-post {
  display: flex; }

.left-arrow__vertical-post {
  cursor: pointer;
  left: 10px;
  bottom: 70px;
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; }
  .left-arrow__vertical-post i {
    font-size: 1.3rem; }

.right-arrow__vertical-post {
  cursor: pointer;
  bottom: 70px;
  right: 10px;
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; }
  .right-arrow__vertical-post i {
    font-size: 1.3rem; }

.arrow__block {
  position: relative; }

.medium__vertical__post {
  display: flex; }

.container__medium__vertical__post {
  display: flex; }

.aside-wrapper {
  margin-left: 4rem;
  padding-right: 358px;
  height: 100%;
  background-color: #fff;
  border-radius: 5px; }

.aside-block {
  width: 270px;
  margin-left: 4rem; }

.aside-block input {
  outline: none;
  padding: 0 2rem; }

.pink-ellepse {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 17px;
  width: 35px;
  height: 35px;
  background-color: #ff4081; }
  .pink-ellepse i {
    font-size: 1.6rem; }

.wrapper-aside-block {
  position: relative;
  top: 2.3rem;
  left: 23rem; }

#input-search-aside {
  color: #d0d0d0;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 2rem;
  border: none;
  border-radius: 20px;
  width: 230px;
  height: 40px;
  background-color: #f5f5f5; }

.search-icon {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  border: none;
  background-color: red; }

.box-search {
  margin-top: 3rem; }
  .box-search ::placeholder {
    color: black;
    opacity: .3; }

.title__categories {
  margin-top: 3rem;
  padding-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #3f51b5; }

.title__categories3 {
  letter-spacing: 1px;
  margin-top: 5rem;
  padding-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #3f51b5; }

.block-categories {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between; }

.block-categories span {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem; }

.count {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }

.subscribe-box input {
  border: 1px solid #e0e0e0;
  width: 230px;
  height: 45px;
  border-radius: 5px; }

.name-subscribe {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block; }

.subscribe-button {
  letter-spacing: 1px;
  outline: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
  width: 270px;
  height: 45px;
  background-color: #3f51b5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold; }

.or-line {
  width: 50%;
  height: 2px;
  background-color: red; }

.line-or {
  margin-top: 1rem;
  display: flex;
  align-items: center; }

.first-line {
  width: 50%;
  height: 1px;
  background-color: #757575; }

.or {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  margin-left: 5px;
  margin-right: 5px;
  display: block; }

.social-links {
  width: 100%;
  margin-top: 2rem;
  display: flex; }

.ellepse-link {
  cursor: pointer;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 3rem; }
  .ellepse-link i {
    color: #fff;
    font-size: 1.4rem; }

.color1 {
  background-color: #3b5999;
  color: #fff; }

.color2 {
  background-color: #55acee;
  color: #fff; }

.color3 {
  background-color: #4c75a3;
  color: #fff; }

.color4 {
  background-color: #ff2e56;
  color: #fff; }

.color5 {
  background-color: #34465d;
  color: #fff; }

.color6 {
  background-color: #ea4c89;
  color: #fff; }

.buttons-wiget {
  width: 270px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #3f51b5; }

.double-button {
  margin-top: 2rem; }

.wiget-buttons {
  cursor: pointer;
  width: 135px;
  background-color: #3f51b5;
  height: 40px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 1.3rem; }

.wiget-buttons1 {
  cursor: pointer;
  width: 135px;
  background-color: #fff;
  height: 40px;
  text-transform: uppercase;
  color: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 0 5px 5px 0;
  font-size: 1.3rem; }

.wiget__user-post {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  display: flex; }

.offer-wiget__user-post {
  margin-left: 1.5rem; }

.offer-wiget__user-post img {
  float: right; }

.date-wiget__user-post {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem; }

.wiget-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  display: block;
  font-size: 1.4rem; }

.blue-line {
  background-color: #aec3ff; }

.tags-button {
  margin-top: 2rem; }

.tags-button button {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin-right: 1rem;
  margin-bottom: 1rem;
  outline: none;
  background-color: #eeeeee;
  border: none;
  color: #1f1f1f;
  height: 30px;
  border-radius: 5px; }

.photography {
  width: 120px; }

.pebdesign {
  width: 110px; }

.youtube {
  width: 100px; }

.evanto {
  width: 80px; }

.art {
  width: 60px; }

.themefortest {
  width: 130px; }

.ilustration {
  width: 110px; }

.main-section3 {
  background: url("../img/Layer 60.png");
  height: 200px; }

.container__main-section2 {
  height: 100%;
  margin-left: 37.5rem;
  margin-right: 37.5rem;
  display: flex;
  align-items: center; }

.title__main-section2 {
  white-space: nowrap;
  letter-spacing: 2px;
  color: #fff;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900; }

#input2 {
  padding: 0 15px;
  color: #fff;
  background-color: transparent;
  outline: none;
  margin-left: 40px;
  width: 270px;
  height: 45px;
  border-radius: 40px;
  border: 1px solid #747577;
  font-size: 16px;
  font-weight: 400; }

.button__main-section2 {
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  margin-left: 3rem;
  width: 180px;
  height: 45px;
  border-radius: 4rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #303f9f; }

.main-section4 {
  background-color: #212121; }

.wrapper__main-section4 {
  display: flex; }

.pages-widget {
  margin-right: 3rem;
  margin-left: 37.5rem;
  margin-bottom: 7.7rem; }

.name-wiget {
  margin-top: 50px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 3rem; }

.social {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff; }

.home {
  letter-spacing: 1px;
  font-size: 1.4rem;
  margin-left: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #bdbdbd;
  text-transform: uppercase; }

.wiget-line {
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 45px;
  border: 1px solid #757575; }

.wiget-line a {
  color: #757575;
  margin-right: 1.5rem; }

.stealth-ul {
  border-radius: 5px;
  width: 272px; }

.link-list {
  border: 1px solid #757575;
  list-style-type: none; }

.link-list li a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  color: #757575; }

.link-list li {
  margin: 1.3rem; }

.twitter-wiget {
  margin-right: 3rem; }

.flex-container_img-text {
  display: flex; }

.container__twitter-wiget img {
  margin-right: 1.5rem;
  width: 22px;
  height: 18px; }

.twitter-post {
  display: block;
  font-size: 1.4rem;
  color: #bdbdbd;
  font-family: 'Open Sans', sans-serif; }

.list-info {
  width: 270px;
  display: block;
  list-style-type: none;
  display: flex;
  margin-bottom: 1rem; }

.line-list-info {
  border-bottom: 1px solid #3c3c3c; }

.list-info li {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: #898989; }

.list-info li a {
  color: #898989; }

.social-links__social-wiget {
  display: flex; }

.flickr-wiget {
  margin-right: 1.5rem; }

.flickr-wiget img {
  margin-bottom: 8px;
  margin-right: 8px;
  vertical-align: bottom; }

.news-letter input {
  margin-bottom: 1rem;
  color: #fff;
  outline: none;
  width: 250px;
  height: 45px;
  background-color: transparent;
  border: 1px solid #757575;
  border-radius: 5px; }

#big-input {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 12rem; }

.button__letter {
  outline: none;
  color: #fff;
  background-color: #303030;
  border-radius: 5px;
  height: 40px;
  width: 272px;
  border: none;
  text-transform: uppercase;
  cursor: pointer; }

#name-input {
  padding: 0 1rem; }

#email-input {
  padding: 0 1rem; }

.footer {
  height: 80px;
  background-color: #303030; }

.menu-footer ul {
  list-style-type: none;
  display: flex; }

.menu-footer {
  height: 100%;
  margin-left: 37.5rem;
  margin-right: 37.5rem;
  display: flex;
  align-items: center; }

.menu-footer li {
  letter-spacing: 0.5px;
  margin-right: 4.2rem; }

.menu-footer li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none; }

#input__footer {
  margin-right: 8rem;
  padding: 0 1.5rem;
  color: #fff;
  outline: none;
  margin-left: 100px;
  width: 180px;
  height: 35px;
  border-radius: 2rem;
  background-color: transparent;
  border: 1px solid #7f7f7f; }

.arrow-down {
  color: #919191; }

.icon {
  font-size: 1.2rem;
  color: #989898;
  position: relative;
  left: 290px; }

.menu-footer img {
  margin-right: 5px; }

.eng {
  font-size: 1.2rem;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #848484;
  text-transform: uppercase; }
