.main-section4{
	background-color: #212121;
}
.wrapper__main-section4{
	display: flex;
}
.pages-widget{
	margin-right: 3rem;
	margin-left: 37.5rem;
	margin-bottom: 7.7rem;
}
.name-wiget{
	margin-top: 50px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1.8rem;
	color:#fff;
	margin-bottom: 3rem;
}
.social{
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1.8rem;
	color:#fff;
}
.home{
	letter-spacing: 1px;
	font-size: 1.4rem;
	margin-left: 1.6rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color:#bdbdbd;
	text-transform: uppercase;
}
.wiget-line{
	margin-top: 5px;
	border-radius: 5px;
	display: flex;
	justify-content:space-between;
	align-items:center;
	width: 270px;
	height: 45px;
	border:1px solid#757575;
	i{
		font-size: 1.5rem;
	}
}
.wiget-line a{
	color:#757575;
	margin-right: 1.5rem;
}
.stealth-ul{
	border-radius: 5px;
	width: 272px;
}
.link-list{
	border:1px solid#757575;
	list-style-type: none;
}
.link-list li a{
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size:1.5rem;
	color:#757575;
}
.link-list li{
	margin: 1.3rem;
}
.twitter-wiget{
	margin-right: 3rem;
}
.flex-container_img-text{
	display: flex;
}
.container__twitter-wiget img{
	margin-right: 1.5rem;
	width: 22px;
	height: 18px;
}
.twitter-post{
	display:block;
	font-size: 1.4rem;
	color:#bdbdbd;
	font-family: 'Open Sans', sans-serif;
}
.list-info{
	width: 270px;
	display: block;
	list-style-type: none;
	display: flex;
	margin-bottom: 1rem;
}
.line-list-info{
	border-bottom: 1px solid#3c3c3c;
}
.list-info li{
	font-size: 1.5rem;
	margin-top: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	color:#898989;
}
.list-info li a{
	color:#898989;
}
.social-links__social-wiget{
	display: flex;
}
.flickr-wiget{
	margin-right: 1.5rem;
}
.flickr-wiget img {
	margin-bottom: 8px;
	margin-right: 8px;
	vertical-align: bottom;
}
.news-letter input{
	margin-bottom: 1rem;
	color:#fff;
	outline: none;
	width: 250px;
	height: 45px;
	background-color: transparent;
	border: 1px solid#757575;
	border-radius: 5px;
}
#big-input{
	padding-left:1rem;
	padding-right:1rem;
	padding-bottom:12rem;
}
.button__letter{
	outline: none;
	color:#fff;
	background-color: #303030;
	border-radius: 5px;
	height: 40px;
	width: 272px;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}
#name-input{
	padding: 0 1rem;
}
#email-input{
	padding: 0 1rem;
}
