.global-main-container{
	display: flex;
	background-color: #f5f5f5;
}
.main-post__container{
	width: 820px;
	margin-left: 37.5rem;
}
.image-block{
	margin-top: 3rem;
}
.play-one{
	bottom: 23.5rem;
	display: flex;
	justify-content:center;
	position: relative;
}
.img-play{
	position: absolute;
}
.post__signatures__container{
	margin-bottom: -6.3rem;
	position: relative;
	bottom: 6rem;
	display: flex;
	justify-content:space-between;
}
.name-post{
	margin: 2rem;
}
.name-post span{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 1.2rem;
	color:#fff;
}
.wrapper__comment__block{
	margin: 2rem;
	display: flex;
}
.comment{
	display: flex;
	margin-right: 1.5rem;

}
.comment span{
	margin-left: 1rem;
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
}
.like{
	display: flex;
	align-items:center;
}
.like span{
	margin-left: 1rem;
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
	color:#fff;
}
.like img{
	margin-left: 5px;
}
.description-block{
	background-color: #fff;
}
.title__description-block{
	word-spacing: 3px;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	margin-left: 2rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1.8rem;
}
.text____description-block{
	margin-left: 2rem;
	margin-right: 4rem;
	padding-bottom: 2rem;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}
.separating-line{
	height: 1px;
	background-color:#e0e0e0;
}
.flex-container{
	display: flex;
	align-items:center;
	justify-content:space-between;
}
.user-name-block{
	margin-top: 2rem;
	margin-left: 2rem;
	padding-bottom: 2rem;
	align-items:center;
	display: flex;
}
.name-date{
	margin-left: 1rem;
}
.name-user{
	letter-spacing: 0.5px;
	display: inline-block;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
	margin-bottom: 5px;

}
.date-user{
	font-family: 'Open Sans', sans-serif;
	color:#878787;
	font-size: 1.2rem;
}
.horizontal__post{
	margin-top: 2rem;
}
.wrapper__horizontal__post{
	border-radius: 5px;
	background-color: #fff;
	display: flex;
	height: 165px;
}
.wrapper__icon__play{
	position: relative;
	bottom:11rem;
	display: flex;
	justify-content:center;
}
.play-img{
	position: absolute;
}
.horizontal__post__signatures__container{
	top:-3.5rem;
	position: relative;
	display: flex;
	justify-content:space-between;
}
.comment__flex__container{
	display: flex;
}
.ike__small-post1{
	display: flex;
}
.name-post__horizontal__post{
	margin-left: 2rem;
	span{
		text-transform: uppercase;
		font-size: 1.2rem;
		font-family: 'Montserrat', sans-serif;
		color:#fff;
	}
}
.number-comment{
	font-size: 1.2rem;
	margin-left: 1rem;
	margin-right: 2rem;
	color:#fff;
}
.number-like{
	font-size: 1.2rem;
	margin-right: 2rem;
	color:#fff;
}
.flex__container___numbers{
	display: flex;
	align-items:center;
}
.horizontal__post__title__name{
	margin-top: 1rem;
	margin-left: 1.5rem;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.horizontal__post__text{
	margin: 1.5rem;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
	color:#595959;

}
.flex-container__horizontal__post{
	margin-top: 1rem;
	margin-left: 1rem;
	display: flex;
	align-items:center;
	justify-content:space-between;
}
.user-name-block__horizontal__post{
	align-items:center;
	display: flex;
}
.user-name-img__horizontal__post img{
margin-left: 1rem;
}
.name-date__horizontal__post{
margin-left: 1rem;

}

.name-user__horizontal__post{
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
}
.date-user__horizontal__post{
	margin-top:5px;
	display: block;
	font-family: 'Open Sans', sans-serif;
	color:#878787;
	font-size: 1.2rem;
}
.vertical-post{
	display: flex;
}
.wrapper__vertical-post{
	margin-right: 2rem;
	background-color: #fff;
	margin-top: 2rem;
	height:460px;
	width: 260px;

}
.white-square{
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	background-color: red;
}
.white-square2{
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	background-color: red;

}
.title__vertical-post{
	font-family: 'Montserrat', sans-serif;
	margin-left: 2rem;
	font-weight: 700;
	font-size:1.4rem;
}
.color-blue{
	color:#4b5cba;
}
.title__medium__vertical__post{
	font-family: 'Montserrat', sans-serif;
	margin-left: 20px;
	font-weight: 700;
	font-size:1.8rem;
}
// .offer__card{
// 	margin-left: 2rem;
// 	margin-top: 1rem;
// 	margin-bottom: 20px;
// 	font-family: 'Open Sans', sans-serif;
// 	font-size:14px ;
// }
.margin-top{
	margin-top: 2rem;
}
.wrapper__medium__vertical__post{
	margin-right: 2rem;
	background-color: #fff;
	margin-top: 20px;
	height:540px;
	width: 400px;
}
.button-more{
	margin-top: 4.3rem;
	display: flex;
	justify-content:flex-end;
	align-items:center;
	margin-bottom: 4.3rem;
}
.button-more span {
	color:#3c4aa4;
	font-family: 'Montserrat', sans-serif;
	font-size:1.6rem;
	font-weight: 600;
}
.button-arrow{
	cursor: pointer;
	outline: none;
	margin-left: 1rem;
	color:#3c4aa4;
	border: 1px solid#f5f5f5;
	background-color: #fff;
	border-radius: 2rem;
	width: 40px;
	height: 40px;
}
.photo-line{
	display: flex;
}
.name-user__small-post1{
	display: inline-block;
	margin-bottom: 5px;
}
.container-vertical-post{
	display: flex;
}
.left-arrow__vertical-post{
	cursor: pointer;
	left:10px;
	bottom: 70px;
	position: absolute;
	width:40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}
.right-arrow__vertical-post{
	cursor: pointer;
	bottom: 70px;
	right:10px;
	position: absolute;
	width:40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}
.arrow__block{
	position: relative;
}
.medium__vertical__post{
	display: flex;
}
.container__medium__vertical__post{
	display: flex;
}